{% extends 'base.html.twig' %}
{% block title %}Ajouter un média{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
    <style>
        body {background: #fff;}
        .custom-file-input {
            min-width: 14rem;
            max-width: 100%;
            height: calc(2.25rem + 2px);
            margin: 0;
            opacity: 1;
        }
        .alert {
            top: 30px
        }
        .btn-success {
            display: block; margin: 20px auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container formcentre">
        <div class="row justify-content-md-center">
            <div class="col-sm-8">
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="container alert alert-success alert-dismissible fade show col-md-8" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('info') %}
                    <div class="container alert alert-success alert-dismissible fade show col-md-8" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                <h1 class="text-center">Ajouter un média à ce trick</h1>
                {{ form_start(formAddVideo) }}
                {{ form_row(formAddVideo.url) }}
                {{ form_row(formAddVideo.trick) }}
                <button type="submit" class="btn btn-success">
                    Ajouter
                </button>
                {{ form_end(formAddVideo) }}
            </div>
        </div>
    </div>
{% endblock %}