{%  extends 'base.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body %}

    {% for flash_message in app.session.flashbag.get('info') %}
        <div class="container alert alert-info alert-dismissible fade show col-md-5" role="alert" style="top: 130px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="container alert alert-success alert-dismissible fade show col-md-5" role="alert" style="top: 130px">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ flash_message }}
        </div>
    {% endfor %}
    <h1 class="text-center connexion">Connexion</h1>
    <div class="container containerlogin">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                {% if error %}
                    <div>Identifiants invalides</div>
                {% endif %}
                <form action="{{ path('security_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Adresse Email</label>
                        <input type="text" id="email" placeholder="Adresse email" required name="_username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" placeholder="Mot de passe" required name="_password" class="form-control">
                    </div>
                    <input type="checkbox" id="remember_me" name="_remember_me" />
                    <label for="remember_me">Se souvenir de moi</label>
                    <a href="{{ path('forgotpasswordpage') }}" class="pull-right forgot">Mot de passe oublié ?</a>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btnlogin">Connexion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
{%  endblock %}