{%  extends 'base.html.twig' %}
{% form_theme formSignup 'bootstrap_4_layout.html.twig' %}
{% block title %}S'inscrire{% endblock %}
{% block body %}
    <h1 class="text-center inscription">Inscription</h1>
    <div class="container containersignup">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                {{ form_start(formSignup) }}
                {{ form_row(formSignup.username, { 'label': 'Nom d\'utilisateur *', 'attr': {
            'placeholder': 'Nom d\'utilisateur' }}) }}
                {{ form_row(formSignup.email, {'label': 'Adresse email *', 'attr': {'placeholder': 'email'}}) }}
                {{ form_row(formSignup.plainPassword.first, {'label': 'Mot de passe *', 'attr': {'placeholder': 'Mot de passe' }}) }}
                {{ form_row(formSignup.plainPassword.second, {'label': 'Confirmer Mot de passe *', 'attr': {'placeholder': 'Confirmer Mot de passe'}}) }}
                {{ form_row(formSignup.termsAccepted, {'label': 'J\'ai lu et j\'accepte les Conditions Générales d\'Utilisation' }) }}
                <a href="{{ path('conditions') }}" class="pull-right">Voir les CGU</a>
                <button type="submit" class="btn btn-success btnsignup">Inscription</button>
                {{ form_end(formSignup) }}
            </div>
        </div>
    </div>
    </div>
    </div>
{%  endblock %}