<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Snowtricks{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Philippe Traon" content="">
    <link rel="icon" href="../../images/snowboarder-profile.png" />
    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css>"-->
        <link rel="stylesheet" href="../../css/font-awesome.css">
        <link rel="stylesheet" href="../../css/styles.css">
        <link href="../../css/grayscale.min.css" rel="stylesheet">

    {% endblock %}
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: #fff; color: #000 !important">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">Logo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('homepage') }}#tricks">Tricks</a>
                </li>
                {# Ici je mets une condition pour l'affichage du menu selon si l'utilisateur est connecté ou non #}
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('signuppage') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> S'incrire</a>
                </li>
                {% else %}
                {#<li class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ app.user.username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="text-center"><a href="{{ path('security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
                        <hr>
                        <li class="text-center"><a href="{{ path('profile', {id: app.user.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Voir mon profil</a></li>
                        <hr>
                        <li class="text-center"><a href="{{ path('createtrickpage') }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un trick</a></li>
                    </ul>
                </li>
                #}

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('createtrickpage') }}"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un trick</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('profile', {id: app.user.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Voir mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}

{% endblock %}
<!-- Footer -->
<footer class="bg-black small text-center text-white-50" style="color: #fff;">
    <div class="container">
        <p class="pull-left">Copyright &copy; Jimmy Sweat | Snowtricks {{ 'now'|date('Y') }}</p>
    </div>
</footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="../../js/jquery.easing.min.js"></script>
    <script>
        $('.dropdown-toggle').dropdown();
    </script>
    <!-- Custom scripts for this template -->
    <script src="../../js/grayscale.min.js"></script>


{% endblock %}
</body>
</html>
