{%  extends 'base.html.twig' %}
{% block title %}Accueil Snowtricks{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
{% endblock %}
{% block body %}

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Snowtricks</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Le snowboard dans tous ces états</h2>

            </div>
            <a href="#tricks" class="js-scroll-trigger">
                <i class="fa fa-arrow-down fa-2x" style="position: absolute; right: 30px; bottom: 80px; color: #fff;"></i>
            </a>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Qui sommes-nous ?</h2>
                    <p class="text-white-50" style="color : #fff;">Snowtricks est un site collaboratif dédié à la pratique du snowboard. Vous y trouverez
                    les tricks principaux et les conseils pour les réussir. Présentation de tricks, échanges et partages constituent la base
                        de ce lieu incontournable : bonne visite !
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="tricks" style="background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);" class="projects-section bg-light">
        <div class="container" >
            <div class="col-md-12 text-center">
            {% if app.user %}
                <a class="btn btn-success" href="{{ path('createtrickpage') }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp;Ajouter une figure
                </a>
            {% endif %}
            </div>
            <div class="row justify-content-md-center" id="list" style="margin: 50px auto;width: 100%;">
            {% for trick in tricks %}

                    <div class="col-md-2 col-xs-12 box-card" style="border:2px solid white; margin: 10px;">
                        <a href="{{ path('trickpage', { id: trick.id }) }}">
                        <div class="md-12">
                            {% if trick.media is empty %}
                            <img src="https://assets.vogue.com/photos/5892046d186d7c1b6493d0cb/master/pass/embed-silje-norendal-snowboard-cold-weather-beauty-products.jpg" class="img-fluid" />
                            {% else %}
                                ...
                            {% endif %}
                        </div>
                        {{ trick.name }}
                        </a>
                        {% if app.user %}
                        <a href="{{ path('modifytrickpage', {id: trick.id}) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="{{ path('deletetrick', {id: trick.id}) }}" data-toggle='confirmation'>
                            <i class="fa fa-trash"></i>
                        </a>
                        {% endif %}
                    </div>

            {% endfor %}
            </div>

        </div>

    </section>
{%  endblock %}
