{%  extends 'base.html.twig' %}
{% block title %}Accueil Snowtricks{% endblock %}
{% block body %}
    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="container alert alert-success alert-dismissible fade show col-md-8 alertcss" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('info') %}
                    <div class="container alert alert-success alert-dismissible fade show col-md-8 alertcss" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
                <h1 class="mx-auto my-0 text-uppercase">Snowtricks</h1>
                <h2 class="text-black-50 mx-auto mt-2 mb-5">Le snowboard dans tous ces états</h2>
            </div>
            <a href="#tricks" class="js-scroll-trigger">
                <i class="fa fa-arrow-down fa-2x"></i>
            </a>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Qui sommes-nous ?</h2>
                    <p class="text-white-50">Snowtricks est un site collaboratif dédié à la pratique du snowboard. Vous y trouverez
                    les tricks principaux et les conseils pour les réussir. Présentation de tricks, échanges et partages constituent la base
                        de ce lieu incontournable : bonne visite !
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects Section -->
    <section id="tricks" style="background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);" class="projects-section bg-light">
        <div class="container-fluid" >
            <div class="col-md-12 text-center">
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-success" href="{{ path('createtrickpage') }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp;Ajouter une figure
                </a>
            {% endif %}
            </div>
            <div class="row justify-content-md-center" id="list">
            {% for trick in tricks %}
                    <div class="col-md-2 col-xs-12 box-card">
                        <a href="{{ path('trickpage', { slug: trick.slug }) }}">
                        <div class="md-12 trickcard">
                            {% for medium in trick.media|slice(0, 1) %}
                            <img src="../../images/{{ medium.url }}" class="img-fluid trick"/>
                            {% endfor %}
                            {% if trick.media is empty %}
                            <img src="https://assets.vogue.com/photos/5892046d186d7c1b6493d0cb/master/pass/embed-silje-norendal-snowboard-cold-weather-beauty-products.jpg" class="img-fluid class"/>
                            {% endif %}
                            <hr>
                            <span>{{ trick.name }}</span>
                            {% if app.user %}
                                <a href="{{ path('deletetrick', {id: trick.id}) }}" data-toggle='confirmation'>
                                    <i class="fa fa-trash pull-right"></i>
                                </a>
                                <a href="{{ path('modifytrickpage', {id: trick.id}) }}">
                                    <i class="fa fa-pencil pull-right"></i>
                                </a>
                            {% endif %}
                        </div>
                        </a>
                    </div>
            {% endfor %}
            </div>
            <button class="btn btn-success" href="#" id="loadMore">Voir plus</button>
            <a href="#tricks" class="js-scroll-trigger">
                <i class="fa fa-arrow-up fa-2x"></i>
            </a>
        </div>
    </section>
{%  endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $(".box-card").slice(0, 15).show();
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $(".fa-arrow-up:hidden").slideDown();
                $(".box-card:hidden").slice(0, 5).slideDown();
                if ($(".box-card:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });
        });
    </script>
{% endblock %}
