{%  extends 'base.html.twig' %}
{% form_theme formLogin 'bootstrap_4_layout.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">

{% endblock %}
{% block body %}

    <div class="container formcentre">
    <div class="row" style="width:600px;">
        <div class="col-sm-12">
            <form class="form-card">
                <fieldset class="form-fieldset">
                    <legend class="form-legend">Connexion</legend>
                    <div class="form-element form-input">
                        <input id="name" class="form-element-field" name="pseudo" placeholder="Pseudo" type="input" required/>
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="name">Pseudo</label>
                    </div>
                    <div class="form-element form-input">
                        <input id="password" class="form-element-field" type="password" name="password" required />
                        <div class="form-element-bar"></div>
                        <label class="form-element-label" for="password">Mot de passe</label>
                        <a href="{{ path('forgotpasswordpage') }}" class="pull-right">Mot de passe oublié ?</a>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button class="form-btn" type="submit">Me connecter</button>
                    <button class="form-btn-cancel -nooutline" type="reset">Effacer</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="container formcentre">

        {{ form_start(formLogin) }}

        {{ form_widget(formLogin) }}

        {{ form_end(formLogin) }}
    </div>
    </div>
    </div>
{%  endblock %}
