{%  extends 'base.html.twig' %}
{% block title %}{{ trick.id }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../../css/custom.css">
    <style>
        body {background: #fff;}
    </style>
{% endblock %}
{% block body %}

    <!-- Header -->
    <header class="masthead" style="height: 50vh;background: url({{ medium.url }});background-repeat: no-repeat;background-size: cover;">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">{{ trick.name }}{{ trick.id }}</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
                {% if app.user %}
                <div style="position:absolute;top: 100px; right: 20px;width:100px; height:50px;">
                    <div class="row">
                        <button class="btn btn-sm" style="padding: 10px 14px;margin:0px 0px"><a href="{{ path('modifytrickpage', {id: trick.id})}}"><i class="fa fa-pencil fa-2x"></i></a></button>
                        <button class="btn btn-sm" style="padding: 10px 14px;margin:0px 0px"><a href="{{ path('deletetrick', {id: trick.id}) }}" data-toggle='confirmation'><i class="fa fa-trash fa-2x"></i></a></button>

                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <!-- Projects Section -->
    <section id="tricks" class="projects-section bg-light">
        <div class="container" >
            <div class="row justify-content-md-center">
            <div class="col-md-10 text-center">
                <div class="row justify-content-md-center" style="padding: 0px;">
                {% for medium in media %}
                        <div class="col-md-2">
                            <p class="text-center"><img class="img-fluid" src="{{ medium.url }}" /></p>
                        </div>
                {% endfor %}
                </div>
                <hr>
                <p>{{ trick.description }}</p>
                <hr>
                <p>Catégorie: {{ trick.category.name }}</p>
                <span class="pull-left">
                    {% if trick.updatedAt %}
                    <i class="fa fa-calendar"></i> mis à jour le {{ trick.updatedAt|date("d/m/Y") }}
                    {% else %}
                    <i class="fa fa-calendar"></i>  publié le {{ trick.createdAt|date("d/m/Y") }}
                    {% endif %}
                </span>
                <span class="pull-right"><i class="fa fa-user"></i>Auteur: {{ trick.author.username }}</span>
                <hr>
            </div>
            </div>
        </div>
    </section>
    <section id="comments">
        <div class="container" style="margin-top: 100px;">
            <div class="row justify-content-md-center">
                <div class="col-sm-8">
                     <div id="post-add-comment" class="well" style="background-color: #ddd;padding: 19px;border-radius: 4px;margin-bottom: 50px;">
                    {% if app.user %}
                        <fieldset>
                            <legend>
                             <i class="fa fa-comment" aria-hidden="true"></i> Laisser un commentaire
                            </legend>
                            {{ form_errors(commentForm) }}
                            <div class="form-group {% if not commentForm.content.vars.valid %}has-error{% endif %}">
                            {#{{ form_label(commentForm.content, 'label.content', {label_attr: {class: 'hidden'}}) }}#}

                            {# Render any errors for the "content" field (e.g. when a class property constraint failed) #}
                            {{ form_errors(commentForm.content) }}

                            {{ form_widget(commentForm.content, {attr: {rows: 10}}) }}
                            {{ form_help(commentForm.content) }}
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success pull-right" type="submit">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Publier
                                </button>
                            </div>
                        </fieldset>
                        {{ form_end(commentForm) }}
                    {% else %}
                        <div class="form-card text-center">
                            <a class="btn btn-success" href="{{ path('security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Connectez-vous</a>
                     pour publier un message<br>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-8" style="margin-bottom:250px;">
                <h3><i class="fa fa-comments" aria-hidden="true"></i>{{ trick.comments|length }} commentaires</h3>
                {% for comment in comments %}
                    <div class="row post-comment" style="margin-bottom:2em;">
                        <a name="comment_{{ comment.id }}"></a>
                        <h4 class="col-sm-3" style="font-size:13px;">
                        <strong>{{ comment.author.username }}</strong><br/> publié le<br />
                        {# it's not mandatory to set the timezone in localizeddate(). This is done to
                           avoid errors when the 'intl' PHP extension is not available and the application
                           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                        <strong>{{ comment.createdAt|date("d/m/Y") }}</strong>
                        </h4>
                        <div class="col-sm-9">
                        {{ comment.content }}
                        </div>
                    </div>
                {% else %}
                    <div class="post-comment">
                        <p>{{ 'post.no_comments'|trans }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{%  endblock %}
