{%  extends 'base.html.twig' %}
{% form_theme formAddTrick 'bootstrap_4_layout.html.twig' %}
{% block title %}Modifier un trick{% endblock %}
{% block body %}
    <div class="container formcentre">
        <div class="row justify-content-md-center">
            <div class="col-sm-8">
                <h1 class="text-center">Modifier un trick</h1>
                {{ form_start(formAddTrick) }}
                {{ form_widget(formAddTrick) }}
                <button type="submit" class="btn btn-success btnupdatetrick">
                    Mettre à jour
                </button>
                {{ form_end(formAddTrick) }}
            </div>
            <div class="col-sm-8">
                <hr>
                <a class="btn btn-primary pull-left" href="{{ path('addMedia') }}">Ajouter une image</a>
                <a class="btn btn-primary pull-right" href="{{ path('addVideo') }}">Ajouter une vidéo</a>
            </div>
        </div>
    </div>
    </div>
    </div>
{%  endblock %}