{%  extends 'base.html.twig' %}
{% block title %}{{ trick.name }}{% endblock %}
{% block body %}
    <!-- Header -->
    {% for medium in media | slice(0) %}
        {% if medium.url  %}
           <header class="masthead" style="height: 50vh;background: url(../../images/{{ medium.url }});background-repeat: no-repeat;background-size: cover;">
        {% else %}
            <header class="masthead" style="height: 50vh;background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Shakedown_2008_Figure_4.jpg/1200px-Shakedown_2008_Figure_4.jpg');background-repeat: no-repeat;background-size: cover;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Shakedown_2008_Figure_4.jpg/1200px-Shakedown_2008_Figure_4.jpg">
        {% endif %}
    {% endfor %}
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="text-uppercase mx-auto my-0">{{ trick.name }}</h1>
                {% if is_granted('ROLE_USER') %}
                <div class="modifydelete">
                    <div class="row">
                        <button class="btn btn-sm">
                            <a href="{{ path('modifytrickpage', {id: trick.id})}}">
                                <i class="fa fa-pencil fa-2x"></i>
                            </a>
                        </button>
                        <button class="btn btn-sm">
                            <a href="{{ path('deletetrick', {id: trick.id}) }}" data-toggle='confirmation'>
                                <i class="fa fa-trash fa-2x"></i>
                            </a>
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <!-- Projects Section -->
    <section id="tricks" class="projects-section bg-light">
        <div class="container" >
            <div class="row justify-content-md-center">
            <div class="col-md-12 text-center">
                <div class="row justify-content-md-center">
                    {% for msg in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">
                            {{ msg }}
                        </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-md-center" id="media">
                    <div class="col-md-6">
                        <div class="row">
                    {% for medium in media | slice(0, 2) %}
                            <div class="col-md-4 trickimages">
                                    <a href="../../images/{{ medium.url }}" class="zoombox zgallery1">
                                        <img class="img-fluid" src="../../images/{{ medium.url }} " />
                                    </a>
                            </div>
                    {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                        {% for vid in video | slice(0, 2) %}
                                 <div class="col-md-4 trickvideos">
                                     <a href="{{ vid.url }}" class="zoombox zgallery1">
                                         <img class="img-fluid" src="https://image.freepik.com/free-icon/play-round_318-29886.jpg" />
                                     </a>
                                 </div>
                         {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row seeMedia">
                    <div class="mx-auto">
                        <button id="seeMedia" class="btn btn-primary">Voir les médias</button>
                    </div>
                </div>
                <hr>
                <p>{{ trick.description }}</p>
                <hr>
                <p><span class="btn btn-info">Catégorie: {{ trick.category.name }}</span></p>
                <hr>
                <span class=" justify-content-md-center">
                    {% if trick.updatedAt %}
                    <span class="btn btn-info"><i class="fa fa-calendar"></i> mis à jour le {{ trick.updatedAt|date("d/m/Y") }}</span>
                    {% else %}
                        <span class="btn btn-info"><i class="fa fa-calendar"></i>  publié le {{ trick.createdAt|date("d/m/Y") }}</span>
                    {% endif %}
                </span>
                <span class="btn btn-info justify-content-md-center"><i class="fa fa-user"></i> Auteur: {{ trick.author.username }}</span>
                <hr>
            </div>
            </div>
        </div>
    </section>
    <section id="comments">
        <div class="container commentaires">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-sm-12">
                     <div id="post-add-comment" class="well">
                    {% if is_granted('ROLE_USER') %}
                        <fieldset>
                            <legend>
                             <i class="fa fa-comment" aria-hidden="true"></i> Laisser un commentaire
                            </legend>
                            {{ form_start(commentForm) }}
                            <div class="form-group">
                            {{ form_widget(commentForm.content, {attr: {rows: 10}}) }}
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btnpublish" type="submit">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Publier
                                </button>
                            </div>
                        </fieldset>
                        {{ form_end(commentForm) }}
                    {% else %}
                        <div class="form-card text-center">
                            <a class="btn btn-success btnlogin" href="{{ path('security_login') }}">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Connectez-vous
                            </a>
                                pour publier un message<br>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-8 commentaires2">
                <h3>
                    <i class="fa fa-comments" aria-hidden="true"></i> {{ trick.comments|length }}
                    {% if trick.comments|length <= 1 %}
                    commentaire</h3>
                    {% else %}
                    commentaires</h3>
                    {% endif %}
                <hr>
                {% for comment in trick.comments %}
                    <div class="row post-comment">
                        <a name="comment_{{ comment.id }}"></a>
                        <h4 class="col-sm-3 commentnotes">
                            {% if comment.author.avatar is not empty %}
                            <img src="../../images/{{ comment.author.avatar }}" class="img-fluid avatar"/>
                            {% else %}
                                <img src="../../images/snowboarder-profile.png" class="img-fluid avatar2"/>
                            {% endif %}
                        <strong>{{ comment.author.username }}</strong><br/> publié le<br />
                        <strong>{{ comment.createdAt|date("d/m/Y") }}</strong>
                        </h4>
                        <div class="col-sm-9">
                        {{ comment.content }}
                        </div>
                    </div>
                {% else %}
                    <div class="post-comment">
                        <p>Il n'y a aucun commentaire pour l'instant.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{%  endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $('a.zoombox').zoombox();
        });
    </script>
    <script>
        $("#seeMedia").on('click', function (e) {
            $("#media").show(500);
            $("#seeMedia").hide(500);
        });
    </script>
{% endblock %}